<h3 class="card-header">Saisie d'un nouveaux defi</h3>
<form [formGroup]="defiForm" (ngSubmit)="OnSubmit()">
  <label>Titre</label>
  <input
    type="text"
    formControlName="titre"
    class="form-control"
    [ngClass]="{ 'is-invalid': submitted && f.titre.errors }"
  />
  <div *ngIf="submitted && f.titre.errors" class="invalid-feedback">
    <div *ngIf="f.titre.errors.required">Titre is required</div>
  </div>
  <br>
  <label>Type</label>
  <select
    formControlName="type"
    class="form-control"
    [ngClass]="{ 'is-invalid': submitted && f.type.errors }"
  >
    <option *ngFor="let type of DefiType | keyvalue" value="{{ type.key }}">
      {{ type.value }}
    </option>
  </select>
  <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
    <div *ngIf="f.type.errors.required">Type is required</div>
  </div>
  <br>
  <label>Auteur</label>
  <input
    type="text"
    formControlName="auteur"
    class="form-control"
    [ngClass]="{ 'is-invalid': submitted && f.auteur.errors }"
  />
  <div *ngIf="submitted && f.auteur.errors" class="invalid-feedback">
    <div *ngIf="f.auteur.errors.required">Auteur is required</div>
  </div>
  <br>
  <label>Arrêt</label>
  <input #semStopsSearch (keyup.enter)="searchSemStops(semStopsSearch.value)"/>
  <select *ngIf="semStops | async as geoJSON"
          formControlName="arret"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.arret.errors }"
  >
    <option *ngFor="let feature of geoJSON.features" [ngValue]="feature">
      {{ feature.properties!['LIBELLE'] }}
    </option>
  </select>
  <div *ngIf="submitted && f.arret.errors" class="invalid-feedback">
    <div *ngIf="f.arret.errors.required">Arrêt is required</div>
  </div>
  <br>
  <label>Mots Clefs</label>
  <input
    type="text"
    formControlName="motsClefs"
    class="form-control"
    maxlength="120"
    [ngClass]="{ 'is-invalid': submitted && f.titre.errors }"
  />
  <div *ngIf="submitted && f.motsClefs.errors" class="invalid-feedback">
    <div *ngIf="f.motsClefs.errors.required">Mots Clefs is required</div>
  </div>
  <br>
  <label>Durée</label>
  <input
    type="number"
    formControlName="duree"
    min="0"
    class="form-control"
    [ngClass]="{ 'is-invalid': submitted && f.duree.errors }"
  />
  <div *ngIf="submitted && f.duree.errors" class="invalid-feedback">
    <div *ngIf="f.duree.errors.required">Durée is required</div>
  </div>
  <br>
  <label>Prologue</label>
  <textarea
    formControlName="prologue"
    class="form-control"
    [ngClass]="{ 'is-invalid': submitted && f.prologue.errors }"
    rows="3"
    cols="150"
  >Veuillez saisir votre texte...</textarea>
  <div *ngIf="submitted && f.prologue.errors" class="invalid-feedback">
    <div *ngIf="f.prologue.errors.required">Prologue is required</div>
  </div>
  <br>
  <label>Description</label>
  <textarea
    formControlName="description"
    class="form-control"
    [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
    rows="3"
    cols="150"
  >Veuillez saisir votre texte...</textarea>
  <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
    <div *ngIf="f.description.errors.required">Description is required</div>
  </div>
  <br>
  <label>Epilogue</label>
  <textarea
    formControlName="epilogue"
    class="form-control"
    [ngClass]="{ 'is-invalid': submitted && f.epilogue.errors }"
    rows="3"
    cols="150"
  >Veuillez saisir votre texte...</textarea>
  <div *ngIf="submitted && f.epilogue.errors" class="invalid-feedback">
    <div *ngIf="f.epilogue.errors.required">Epilogue is required</div>
  </div>
  <br>
  <label>Commentaire</label>
  <textarea
    formControlName="commentaire"
    class="form-control"
    [ngClass]="{ 'is-invalid': submitted && f.commentaire.errors }"
    rows="3"
    cols="150"
  >Veuillez saisir votre texte...</textarea>
  <div *ngIf="submitted && f.commentaire.errors" class="invalid-feedback">
    <div *ngIf="f.commentaire.errors.required">Commentaire is required</div>
  </div>
</form>
<br>
<br>


<form [formGroup]="questionForm" (ngSubmit)="OnSubmitTwo()">
  <label>Question</label>
  <input
    type="text"
    formControlName="question"
    class="form-control"
    [ngClass]="{ 'is-invalid': submitted && g.question.errors }"
  />
  <div *ngIf="submitted && g.question.errors" class="invalid-feedback">
    <div *ngIf="g.question.errors.required">Question is required</div>
  </div>
  <br>
  <label>Points de la question</label>
  <input
    type="number"
    formControlName="pointsqss"
    min="0"
    class="form-control"
    [ngClass]="{ 'is-invalid': submitted && g.pointsqss.errors }"
  />
  <div *ngIf="submitted && g.pointsqss.errors" class="invalid-feedback">
    <div *ngIf="g.pointsqss.errors.required">Le nombre de points de la question is required</div>
  </div>
  <br>
  <label>Reponse</label>
  <input
    type="text"
    formControlName="reponse"
    class="form-control"
    [ngClass]="{ 'is-invalid': submitted && g.reponse.errors }"
  />
  <div *ngIf="submitted && g.reponse.errors" class="invalid-feedback">
    <div *ngIf="g.reponse.errors.required">Reponse is required</div>
  </div>
  <br>
  <label>Indice</label>
  <input
    type="text"
    formControlName="indice"
    class="form-control"
    [ngClass]="{ 'is-invalid': submitted && g.indice.errors }"
  />
  <div *ngIf="submitted && g.indice.errors" class="invalid-feedback">
    <div *ngIf="g.indice.errors.required">Indice is required</div>
  </div>
  <br>
  <label>Points indice</label>
  <input
    type="number"
    formControlName="pointsi"
    min="0"
    class="form-control"
    [ngClass]="{ 'is-invalid': submitted && g.pointsi.errors }"
  />
  <div *ngIf="submitted && g.pointsi.errors" class="invalid-feedback">
    <div *ngIf="g.pointsi.errors.required">Le nombre de points de l'indice' is required</div>
  </div>
  <br>
  <br>
  <br>
  <div class="text-center">
    <button class="btn btn-primary mr-1"> Ajouter la question</button>
    <button class="btn btn-secondary" type="reset" (click)="onResetTwo()">Cancel</button>
  </div>
</form>
<br>
<br>
<br>

<div class="text-center">
  <button class="btn btn-primary mr-1" (click)="OnSubmit()">Confirmer</button>
  <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
</div>
<br>
<div style="text-align:center">
  <h1> DEBUG </h1>
</div>
<h5>listeQuestion</h5>
<p>
  {{listeQuestion | json}}
</p>
<h5>listeIndice</h5>
<p>
  {{listeIndice | json}}
</p>
<h5>laQuestion</h5>
<p>
  {{laQuestion | json}}
</p>
<h5>lIndice</h5>
<p>
  {{lIndice | json}}
</p>
<h5>leDefi</h5>
<p>
  {{leDefi | json}}
</p>
<h5>compteur</h5>
<p>
  {{sum}}
</p>
