<div *ngIf="auth.user | async">
  <!-- Rules section -->
  <div class="w3-container w3-light-grey w3-padding-64">
    <div class="w3-row-padding">
        <h2>Règles de bonne utilisation du site</h2>
        <ul>
        <li>Le spamming n'est pas autorisé, et la redirection vers des liens qu'y n'on rien à voir avec les défis;</li>
        <li>Les grossièretés, les insultes, le langage inapproprié, le racisme et la discrimination ne sont pas
          autorisés sur le site.</li>
        <li>Il est interdit de discuter des sanctions, des rapports, des tickets, des appels, des candidatures et des
          plaintes concernant le staff.</li>
        <li>La publicité externe est interdite.</li>
        <li>Le français et l'anglais sont les seule langues autorisées à être utilisée sur le site.</li>
        </ul>
    </div>
  </div>

  <!-- Team Section -->
  <div class="w3-container" style="padding:128px 16px" id="team">
    <h3 class="w3-center">NOTRES EQUIPE</h3>
    <li class="w3-center w3-large">Projet integrateur L3MIAGE Université Grenoble-Alpes</li>
    <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="https://media.discordapp.net/attachments/775103443483754499/839963144050835456/Leo_MLG.png?width=566&height=559" alt="Leo" style="width:100%">
          <div class="w3-container">
            <h3>Léo Pellet</h3>
            <p class="w3-opacity">Chef de projet</p>
            <p>Bonjour, je suis ingénieur informaticien. J'aime les ordinateurs. Windows 98.</p>
            <p><button class="w3-button w3-light-grey w3-block" (click)="LeoContact()"><i class="fa fa-envelope"></i> Contact</button></p>
          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="https://media.discordapp.net/attachments/828576122039959596/839991400443019284/Sans_titre.png?width=853&height=640" alt="Arthur" style="width:100%">
          <div class="w3-container">
            <h3>Arthur Verwaerde</h3>
            <p class="w3-opacity">Syndicat</p>
            <p>Je suis un gentil étudiant en informatique.</p>
          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="https://media.discordapp.net/attachments/775103443483754499/839904586571055156/moi.png?width=493&height=559" alt="Rayan" style="width:100%">
          <div class="w3-container">
            <h3>Rayan Kaïli</h3>
            <p class="w3-opacity">Manager</p>
            <p>Ils pensaient tous que c'était impossible... à présent ADMIREZ!!</p>
            <p><button class="w3-button w3-light-grey w3-block" (click)="RayanContact()"><i class="fa fa-envelope"></i> Contact</button></p>
          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="https://cdn.discordapp.com/attachments/670753901657456650/839923655403241540/Photo_le_03-03-2021_a_11.47.jpg" alt="Samuel" style="width:100%">
          <div class="w3-container">
            <h3>Samuel Lauras</h3>
            <p class="w3-opacity">Developper</p>
            <p>J'ai participé sur la partie angular, coté client, notament la partie fonctionelle
              avec la gestion des observables, et graphique avec le css ainsi que l'integration de Angular-Matérial</p>
          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="https://media.discordapp.net/attachments/828576122039959596/839990757854674974/Screenshot_20210507-002247.jpg?width=637&height=639" alt="Pierre" style="width:100%">
          <div class="w3-container">
            <h3>Pierre Chevallier</h3>
            <p class="w3-opacity">Developper</p>
            <p>Étudiant en L3 MIAGE, développeur sur la partie Angular de CyberChamis</p>
          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="https://media.discordapp.net/attachments/828576122039959596/839971083591090176/Sans_titre.png?width=595&height=559" alt="Dorian" style="width:100%">
          <div class="w3-container">
            <h3>Dorian Fabry</h3>
            <p class="w3-opacity">Developper</p>
            <p>Étudiant en informatique et bon vivant aimant profiter de la vie et du temps passé en communauté.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
