<!--
<div *ngIf="false";else VISU>

</div>

<ng-template #VISU>

-->
<div *ngIf="auth.user | async as user">
  <div *ngIf="myDefiDetail$ | async as defiDetailObs">
    <div *ngIf="ownerDefi">
      <app-defi-form2 [defi]="defiDetailObs.defi"></app-defi-form2>
    </div>
    <div *ngIf="!ownerDefi">

      <h2>Defi {{ defiDetailObs.defi.idDefi }}</h2>
      <h3>Defi {{ defiDetailObs.defi.titre }}</h3>
      <p>
        Type: {{defiDetailObs.defi.defiType}} <br>
        Date de creation: {{defiDetailObs.defi.dateCreation}} <br>
        Date de modification: {{defiDetailObs.defi.dateModification}} <br>
        Version: {{defiDetailObs.defi.versionD}} <br>
        Arret: {{defiDetailObs.defi.idArret}} <br>
        Mots clefs: {{defiDetailObs.defi.motsClefs}} <br>
        Points: {{defiDetailObs.defi.points}} <br>
        Duree: {{defiDetailObs.defi.duree}} min <br>
        Description {{defiDetailObs.defi.description}} <br>
        commentaire de l'auteur {{defiDetailObs.defi.commentaire}}<br>
      </p>
      <p>
        Prologue:<br>
        - {{defiDetailObs.defi.prologue}}
      </p>


      <!-- Observable du CHAMIS createur du défi-->
      <div *ngIf="defiDetailObs.chami$ | async as chami">
        <h3> à propos de l'auteur </h3>
        Auteur: {{ chami.pseudo }} <br>
        Ville: {{ chami.ville}} <br>
        <button [routerLink]="['/profil', defiDetailObs.defi.uid]">Voir l'auteur</button>
      </div>
    </div>

      <!-- Observable des VISITES jouées pour le DEFI-->
      <h4>Avis</h4>
      <div *ngIf="defiDetailObs.visite$ | async as visites">
        <div *ngIf="visites.length > 0;else aucuneVisite">
          <table *ngFor="let visite of visites" border="2">
            <tr>
              <td>{{visite.note}}</td>
              <td>{{visite.commentaire}}</td>
              <td>{{visite.dateVisite}}</td>
            </tr>
          </table>
        </div>
        <ng-template #aucuneVisite>
          Aucun avis pour ce défi
        </ng-template>

      </div>
    </div>



    <!-- DEBUG
    <h4> DEBUG - visualisation de l'observable courent</h4>
    <pre>
    {{defiDetailObs | json}}
    {{defiDetailObs.chami$ | async | json}}
    {{defiDetailObs.visite$ | async | json}}
  </pre>
  -->

</div>
