<div *ngIf="defiDetail$ | async as defiDetailObs">

  <h2>Défi {{ defiDetailObs.defi.idDefi }}</h2>
  <h3>Défi {{ defiDetailObs.defi.titre }}</h3>
  <p>
    Type: {{defiDetailObs.defi.defiType}} <br>
    Date de création: {{defiDetailObs.defi.dateCreation}} <br>
    Date de modification: {{defiDetailObs.defi.dateModification}} <br>
    Version: {{defiDetailObs.defi.versionD}} <br>
    Arret: {{defiDetailObs.defi.idArret}} <br>
    Mots clefs: {{defiDetailObs.defi.motsClefs}} <br>
    Points: {{defiDetailObs.defi.points}} <br>
    Durée: {{defiDetailObs.defi.duree}} min <br>
  </p>
  <p>
    Prologue:<br>
    - {{defiDetailObs.defi.prologue}}
  </p>


  <!-- Observable du CHAMIS createur du défi-->
  <div *ngIf="defiDetailObs.chami$ | async as chami">
    <h3>À propos de l'auteur (chamis)</h3>
    Auteur: {{ chami.pseudo }} <br>
  </div>

  <!-- Observable des VISITES jouées pour le DEFI-->
  <h4>Avis</h4>
  <div *ngIf="defiDetailObs.visite$ | async as visites">
    <table *ngFor="let visite of visites" border="2">
      <tr>
        <td>{{visite.note}}</td>
        <td>{{visite.commentaire}}</td>
        <td>{{visite.dateVisite}}</td>
      </tr>
    </table>
  </div>

  <button [routerLink]="['/defimaker', defiDetailObs.defi.idDefi]">Modifier</button>

  <!-- DEBUG -->
  <h4> DEBUG - visualisation de l'observable courant</h4>
  <pre>
    {{defiDetailObs | json}}
    {{defiDetailObs.chami$ | async | json}}
    {{defiDetailObs.visite$ | async | json}}
  </pre>
</div>
