<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- UID -->
    <ng-container matColumnDef="uid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>AUTEUR</th>
      <td mat-cell *matCellDef="let element">
        <button type="button" class="btn btn-primary-outline pull-right"
         (click)="ouvrirPageProfil(element.uid);">
         <i class="fa fa-plus"></i>chami no.{{element.uid}}</button>
      </td>
    </ng-container>

    <!-- TITRE -->
    <ng-container matColumnDef="titre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>TITRE</th>
      <td mat-cell *matCellDef="let element">{{element.titre}}</td>
    </ng-container>

    <!-- MOTS CLÉS -->
    <ng-container matColumnDef="motsClefs">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>MOTS CLÉS</th>
      <td mat-cell *matCellDef="let element">{{element.motsClefs}}</td>
    </ng-container>

    <!-- DESCRIPTION -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DESCRIPTION</th>
      <td mat-cell *matCellDef="let element">{{element.description}}</td>
    </ng-container>

    <!-- DUREE -->
    <ng-container matColumnDef="duree">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DURÉE</th>
      <td mat-cell *matCellDef="let element">{{element.duree}} min</td>
    </ng-container>

    <!-- TENTER DEFI -->
    <ng-container matColumnDef="tenter">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>TENTER DÉFI</th>
      <td mat-cell *matCellDef="let element">
        <button type="button" class="btn btn-primary-outline pull-right" (click)="ouvrirPageDefi(element.idDefi);">
          <i class="fa fa-plus"></i>
          Jouer {{element.idDefi}}
        </button>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[ 5, 20]" showFirstLastButtons></mat-paginator>
