table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

th {
  text-align: left;
}

td {
  text-align: left;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
  size: 50%;
  margin: auto;

}
.description{
  width: 50%;
}
.litle {
  font-size: 80%;
}
