<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Menu">
    <mat-icon (click)="drawer.toggle()">menu</mat-icon>
  </button>
  <label>
    Projet intégrateur
  </label>
  <label class="spacer"></label>


  <!-- MENU DE CONNEXION -->
  <mat-icon [matMenuTriggerFor]="menuConnect">
    account_circle
  </mat-icon>
  <mat-menu #menuConnect="matMenu">
    <button mat-menu-item
            (click)="login()">
      <img [src]="dataIconGoogle" width="24" height="24"/>
      &nbsp;
      <span>Compte Google</span>
    </button>
  </mat-menu>
  <mat-menu #menuDisconnect="matMenu">
    <button mat-menu-item
            (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Déconnexion</span>
    </button>
  </mat-menu>
</mat-toolbar>


<mat-drawer-container class="example-container">
  <!-- MENU LATÉRAL -->
  <mat-drawer #drawer [mode]="mode.value">
    Placez votre menu ici...
  </mat-drawer>
  <mat-drawer-content>
    <mat-form-field>
      <h2><mat-label>Sidenav mode</mat-label></h2>
      <mat-select #mode value="push">
        <mat-option value="side">Side</mat-option>
        <mat-option value="over">Over</mat-option>
        <mat-option value="push">Push</mat-option>
      </mat-select>
    </mat-form-field>
  <br/><br/>


    <!-- TABLE DES CHAMIS -->
    <h2>Chamis</h2>
    <div *ngIf="chamis.length > 0;then TABLE_CHAMIS else TABLE_CHAMIS_UNLOADED"></div>
    <ng-template #TABLE_CHAMIS>
      <table border="1">
        <tr><th>Auteur</th><th>Âge</th></tr>
        <tr *ngFor="let chami of chamis">
          <td>{{chami.login}}</td>
          <td>{{chami.age}}</td>
        </tr>
      </table>
    </ng-template>
    <ng-template #TABLE_CHAMIS_UNLOADED>
      <div *ngIf="!errorManager.ChamisTableErrror ;then TABLE_CHAMIS_LOADING else TABLE_CHAMIS_ERROR"></div>
      <ng-template #TABLE_CHAMIS_LOADING>
        [CHAMIS TABLE] - Chargement des données...
      </ng-template>
      <ng-template #TABLE_CHAMIS_ERROR>
        - - - - - - - - - - - - - - - - - - - - - -  ERROR  - - - - - - - - - - - - - - - - - - - - - - - <br><br>
        [CHAMIS TABLE] - Communication avec le serveur impossible - Error 502, please check the console <br><br>
        - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -<br>
      </ng-template>
    </ng-template>
    <br/><br/>


    <!-- TABLE DES DEFIS -->
    <h2>Défis</h2>
    <div *ngIf="defis.length > 0;then TABLE_DEFIS else TABLE_DEFIS_UNLOADED"></div>
    <ng-template #TABLE_DEFIS>
      <table border="1">
        <tr><th>Défi</th><th>Titre</th><th>Description</th><th>Date de création</th></tr>
        <tr *ngFor="let defi of defis">
          <td>{{defi.id}}</td>
          <td>{{defi.titre}}</td>
          <td>{{defi.descritption}}</td>
          <td>{{defi.datedecreation}}</td>
        </tr>
      </table>
    </ng-template>
    <ng-template #TABLE_DEFIS_UNLOADED>
      <div *ngIf="!errorManager.DefisTableErrror ;then TABLE_CHAMIS_LOADING else TABLE_CHAMIS_ERROR"></div>
      <ng-template #TABLE_CHAMIS_LOADING>
        [DEFIS TABLE] - Chargement des données...
      </ng-template>
      <ng-template #TABLE_CHAMIS_ERROR>
        - - - - - - - - - - - - - - - - - - - - - -  ERROR  - - - - - - - - - - - - - - - - - - - - - - - <br><br>
        [DEFIS TABLE] - Communication avec le serveur impossible - Error 502, please check the console <br><br>
        - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -<br>
      </ng-template>
    </ng-template>
    <br/><br/>


    <!-- CARTE -->
    <h2>Carte</h2>
    <yaga-map [lng]="5.724524" [lat]="45.188529" [zoom]="12">
      <yaga-tile-layer [(url)]="tileLayerUrl"></yaga-tile-layer>
      <yaga-marker  [lng] = "5.724524"
                    [lat] = "45.188529"
                    [display] = "true"
                    [opacity] = "1"
                    >
        <yaga-icon [iconUrl]="iconMarker"></yaga-icon>
      </yaga-marker>
    </yaga-map>


    <!-- LOGS D'AUTHENTIFICATION -->
    <!-- DEBUG TEMPORAIRE -->
    <pre>
      <a *ngIf="auth.user | async as obs">
        <button (click)="afficherLogs()">Logs d'authentification</button>
        <div *ngIf="boutonLogs">{{ obs | json }}</div>
      </a>
    </pre>
  </mat-drawer-content>
</mat-drawer-container>

