:host {
  display: flex;
  flex-flow: column;
  height: 100%;

  mat-toolbar {
    > mat-icon {
      user-select: none;
      transition: transform .3s;
    }
    > mat-icon:hover {
      transform: scale(1.4);
    }

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: solid black 3px;
    }
  }

  mat-drawer-container {
    flex: 1 1;
    > mat-drawer {
      border-right: solid grey 3px;
    }
  }

  yaga-map {
    height: 480px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }

  th {
    border: 2px solid #000000;
    text-align: left;
    padding: 8px;
    background-color: #000000;
    color: #ffffff;
  }

  td {
    border: 2px solid #000000;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .connecte {
    margin:1%;
    float:right;
    color: #00dd00;
  }

  .deconnecte {
    margin:1%;
    float:right;
    color: #dd0000;
  }
}
