<mat-toolbar>
  <!-- BOUTON TRIPLE BARRES -->
  <button mat-icon-button class="example-icon" aria-label="Menu">
    <mat-icon (click)="drawer.toggle()">menu</mat-icon>
  </button>

  <!-- LABEL -->
  <label>
    CyberChamis
  </label>
  <label class="spacer"></label>

  <!-- MENU DE CONNEXION -->
  <!-- Si connecté -->
  <mat-icon [matMenuTriggerFor]="menuDisconnect" *ngIf="auth.user | async as user; else menuConnexion">
    <img [src]="user.photoURL" />
  </mat-icon>
  <!-- Afficher menu deconnexion -->
  <mat-menu #menuDisconnect="matMenu">
    <!-- PROFIL -->
    <button mat-menu-item [routerLink]="'/myProfil'">
      <mat-icon>account_circle</mat-icon>
      <span>Profil</span>
    </button>
    <!-- DECONNEXION-->
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Déconnexion</span>
    </button>
  </mat-menu>

  <!-- Sinon -->
  <!-- Afficher menu connexion -->
  <ng-template #menuConnexion>
    <mat-icon [matMenuTriggerFor]="menuConnect">
      account_circle
    </mat-icon>
  </ng-template>
  <mat-menu #menuConnect="matMenu">
    <button mat-menu-item (click)="login()">
      <img [src]="dataIconGoogle" width="24" height="24" />
      &nbsp;
      <span>Compte Google</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <!-- MENU LATÉRAL -->
  <mat-drawer #drawer mode="over">
    <!-- BOUTONS -->
    <div *ngFor="let button of sidebar">
      <button mat-menu-item (click)="drawer.toggle()" [routerLink]="button.routerLink">
        <mat-icon>{{button.logo}}</mat-icon>
        <span>{{button.title}}</span>
      </button>
    </div>
  </mat-drawer>


  <div *ngIf="userConnect$ | async"><h1></h1><</div>
  <div *ngIf="unConnected">
    <div class="w3-container w3-row w3-center w3-dark-grey w3-padding-12">
      <p class="connect-barrer">
        <b>Connectez-vous</b> puis <b>créez votre profil</b> pour accéder à la plateforme
      </p>
    </div>
  </div>


  <div *ngIf="profilConnect$ | async"><h1>works profil</h1></div>
  <div *ngIf="accountNotCreated && !unConnected">
    <div class="w3-container w3-row w3-center w3-dark-grey w3-padding-12">
      <p class="connect-barrer">
        Veuillez <b>créer votre profil</b> pour accéder à la plateforme (bouton en haut à droite de votre écran)
      </p>
    </div>
  </div>

  <!-- BALISE QUI CHANGE EN FONCTION DU LIEN-->
  <router-outlet></router-outlet>

</mat-drawer-container>

