<mat-toolbar>
  <!-- BOUTON TRIPLE BARRES -->
  <button mat-icon-button class="example-icon" aria-label="Menu">
    <mat-icon (click)="drawer.toggle()">menu</mat-icon>
  </button>


  <!-- LABEL -->
  <label>
    Projet intégrateur
  </label>
  <label class="spacer"></label>


  <!-- MENU DE CONNEXION -->
  <!-- Si connecté -->
  <mat-icon [matMenuTriggerFor]="menuDisconnect" *ngIf="auth.user | async as user; else menuConnexion">
    <img [src]="user.photoURL" />
  </mat-icon>
  <!-- Afficher menu deconnexion -->
  <mat-menu #menuDisconnect="matMenu">
    <!-- PROFIL -->
    <button mat-menu-item (click)="loadProfil()">
      <mat-icon>account_circle</mat-icon>
      <span>Profil</span>
    </button>

    <!-- SETTINGS -->
    <button mat-menu-item (click)="loadSettings()">
      <mat-icon>settings</mat-icon>
      <span>Paramètres</span>
    </button>

    <!-- DECONEXION-->
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Déconnexion</span>
    </button>
  </mat-menu>
  <!-- Sinon -->
  <!-- Afficher menu connexion -->
  <ng-template #menuConnexion>
    <mat-icon [matMenuTriggerFor]="menuConnect">
      account_circle
    </mat-icon>
  </ng-template>
  <mat-menu #menuConnect="matMenu">
    <button mat-menu-item (click)="login()">
      <img [src]="dataIconGoogle" width="24" height="24" />
      &nbsp;
      <span>Compte Google</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <!-- MENU LATÉRAL -->
  <mat-drawer #drawer mode="side">

        <!-- HOME -->
        <button mat-menu-item (click)="drawer.toggle()"
                              [routerLink]="'/'">
          <mat-icon>home</mat-icon>
          <span [routerLink]="'/'">Page d'accueil</span>
        </button>

        <!-- TRENDING -->
        <button mat-menu-item>
          <mat-icon>trending_up</mat-icon>
          <span>Leaderboard</span>
        </button>

        <!-- DEFIS -->
        <button mat-menu-item (click)="drawer.toggle()"
                              [routerLink]="'/challenge'">
          <mat-icon>explore</mat-icon>
          <span><b>Chercher un défi</b></span>
        </button>

        <!-- MES VISITES -->
        <button mat-menu-item>
          <mat-icon>contact_page</mat-icon>
          <span>Mes Visites & Défis</span>
        </button>

        <!-- IDEE -->
        <button mat-menu-item>
          <mat-icon>lightbulb</mat-icon>
          <span>Soumettre une idée aux Devs</span>
        </button>

  </mat-drawer>
  <mat-drawer-content>


    <!-- ÉTAT DE CONNEXION -->
    <div *ngIf="auth.user | async as obs; then connecte else deconnecte"></div>
    <ng-template #connecte>
      <p class="connecte">Connecté</p>
    </ng-template>
    <ng-template #deconnecte>
      <p class="deconnecte">Déconnecté</p>
    </ng-template>


    <!-- SIDENAV MODE -->
    <mat-form-field>
      <h2>
        <mat-label>Sidenav mode</mat-label>
      </h2>
      <mat-select #mode value="push">
        <mat-option value="side">Side</mat-option>
        <mat-option value="over">Over</mat-option>
        <mat-option value="push">Push</mat-option>
      </mat-select>
    </mat-form-field>
    <br /><br />

    <!-- CARTE -->


    <router-outlet></router-outlet>


  </mat-drawer-content>
</mat-drawer-container>
