<div *ngIf="defi | async as defi">
  <h3>DEFI: {{defi.idDefi}} ACCEPTE</h3>
  <p>
    {{defi.description}} <br>
  </p>
  <br>
  <div *ngIf="questions">
  <div *ngFor="let question of questions">
  {{question.question}} <br>
    <input #reponse />
    <button (click)="onSubmit(reponse.value,question.idQuestion)">Valider</button>
    <br>
    <button (click)="indiceUsed(question.idQuestion,question.numero)">Besoin d'aide?</button>
  </div>
  </div>

  <button (click)="onSubmitValidey()">Terminer</button>
