<!-- TABLE DE l'auth -->
<h2>Chamis</h2>

<table *ngIf="auth.user| async as auth">
  <pre>
    {{ auth | json}}
  </pre>
</table>
<br/><br/>



<!-- TABLE DES CHAMIS -->
<h2>Chamis</h2>

<table *ngIf="chamisObs | async as chamis">
  <pre>
    {{ chamis | json}}
  </pre>
</table>
<br/><br/>

<!-- TABLE DES DEFIS -->
<h2>Défis</h2>
<div *ngIf="defisObs | async as defis">
  <table-challenge [DATA_SOURCE]="defis"></table-challenge>
    <pre>
      {{ defis | json}}
    </pre>
</div>
<br/>

<!-- CARTE -->
<h2>Carte</h2>
<app-map></app-map>
<br/>
