<!-- TABLE DES CHAMIS -->
<h2>Chamis</h2>

<table *ngIf="chamisObs | async as chamis">
  <pre>
    {{ chamis | json}}
  </pre>
</table>
<br/><br/>

<!-- TABLE DES DEFIS -->
<h2>Défis</h2>
<div *ngIf="defisObs | async as defis">
  <table-challenge [DATA_SOURCE]="defis"></table-challenge>
    <pre>
      {{ defis | json}}
    </pre>
</div>
<br/><br/><br/><br/><br/>

<!-- CARTE -->
<h2>Carte du composant</h2>
<table>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>
      ici
    </td>
    <td colspan="3">
      <yaga-map [lng]="5.724524" [lat]="45.188529" [zoom]="13">
        <yaga-tile-layer [(url)]="tileLayerUrl"></yaga-tile-layer>
        <yaga-marker [lng]="5.724524" [lat]="45.188529" [display]="true" [opacity]="1">
          <yaga-icon [iconUrl]="iconMarker"></yaga-icon>
        </yaga-marker>
      </yaga-map>
    </td>
  </tr>
</table>
<br/>

<!-- DEBUG TEMPORAIRE -->
<pre>
  {{defisObs | async | json}}
</pre>
