<!-- TABLE DES CHAMIS -->
<h2>Chamis</h2>

<table *ngIf="chamisObs | async as chamis">
  <tr>
    <th>Auteur</th>
    <th>Âge</th>
    <th>Défis créés</th>
  </tr>
  <tr *ngFor="let chami of chamis">
    <td>{{chami.pseudo}}</td>
    <td>{{chami.age}}</td>
    <td>{{chami.nbDefis}}</td>
  </tr>
</table>

<br /><br />


<!-- TABLE DES DEFIS -->
<h2>Défis</h2>

<!-- Les afficher -->
<div *ngIf="defisObs | async as defis">
  <table-challenge [DATA_SOURCE]="defis"></table-challenge>
</div>

<br /><br /><br /><br /><br />

<!-- CARTE -->
<h2>Carte du composant</h2>
<table>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>
      ici
    </td>
    <td colspan="3">
      <yaga-map [lng]="5.724524" [lat]="45.188529" [zoom]="13">
        <yaga-tile-layer [(url)]="tileLayerUrl"></yaga-tile-layer>
        <yaga-marker [lng]="5.724524" [lat]="45.188529" [display]="true" [opacity]="1">
          <yaga-icon [iconUrl]="iconMarker"></yaga-icon>
        </yaga-marker>
      </yaga-map>
    </td>
  </tr>
</table>

<br />

<pre>
  {{defisObs | async | json}}
</pre>
